.desktop-2-child {
  position: absolute;
  height: 2.99%;
  width: 100%;
  top: -0.12%;
  right: 0;
  bottom: 97.12%;
  left: 0;
  background-color: var(--color-snow);
}
.desktop-2-item {
  position: absolute;
  top: 0;
  left: 565.96px;
  border-radius: var(--br-12xl-5);
  width: 1426.17px;
  height: 45.82px;
}
.phone-square-logo1 {
  position: absolute;
  top: 11px;
  left: 1367px;
  background-color: var(--color-white);
  width: 26.73px;
  height: 25.46px;
  overflow: hidden;
}
.vector-icon3 {
  position: absolute;
  top: 9.98px;
  left: 1367px;
  width: 27px;
  height: 26.96px;
}
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  position: absolute;
  top: 4.99px;
  left: 1759px;
  width: 35px;
  height: 37.89px;
  cursor: pointer;
}
.vector-icon5,
.vector-icon6 {
  left: 1658px;
  width: 34px;
}
.vector-icon6 {
  left: 1863px;
}
.dbit-logo-11 {
  position: absolute;
  top: -1px;
  left: 58px;
  width: 121.17px;
  height: 125.24px;
  object-fit: cover;
}
.texpress3 {
  margin: 0;
}
.texpress-txt1 {
  line-break: anywhere;
  width: 100%;
}
.texpress2 {
  position: absolute;
  top: 45.82px;
  left: 179.21px;
  font-size: 40.73px;
  background: linear-gradient(90deg, #76ba1b 38.24%, #00a3c7 62.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: flex-end;
  width: 216.88px;
  cursor: pointer;
}
.abcgmailcom1,
.div1 {
  position: absolute;
  top: 7px;
  left: 1430px;
  font-size: 25.32px;
  color: var(--color-white);
}
.abcgmailcom1 {
  top: 5px;
  left: 1100px;
  cursor: pointer;
}
.loginsignup1,
.pricing1 {
  position: absolute;
  top: 135px;
}
.pricing1 {
  left: 1880.24px;
  cursor: pointer;
}
.loginsignup1 {
  left: 1709.44px;
  width: 129px;
  height: 28px;
}
.de-compress1,
.loginsignup1,
.more-tools1 {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.more-tools1 {
  position: absolute;
  top: 135px;
  left: 1553.78px;
  width: 114px;
  height: 28px;
}
.de-compress1 {
  left: 1373.33px;
  width: 139.12px;
}
.compress3,
.de-compress1,
.home1 {
  position: absolute;
  top: 135px;
}
.compress3 {
  left: 1230.08px;
  color: var(--color-yellowgreen-200);
}
.home1 {
  left: 1126.77px;
  cursor: pointer;
}
.desktop-2-inner {
  position: absolute;
  top: 173px;
  left: 1235px;
  background-color: var(--color-yellowgreen-200);
  width: 92px;
  height: 3px;
}
.box-drop-2 {
  position: absolute;
  top: calc(50% - 63.5px);
  left: calc(50% - 471px);
  width: 950px;
  height: 202px;
  object-fit: cover;
}
.box-drop-2,
.box-drop-2:hover {
  cursor: pointer;
}
.drop-or-upload {
  position: absolute;
  top: 558px;
  left: calc(50% - 338px);
  font-size: var(--font-size-13xl);
  display: flex;
  align-items: flex-end;
  width: 684px;
  height: 38px;
}
.drive-icon,
.dropbox-icon,
.url-icon {
  position: absolute;
  top: 596px;
  left: 834px;
  width: 123px;
  height: 109px;
  object-fit: cover;
}
.drive-icon,
.url-icon {
  top: 607px;
  left: 930px;
  height: 98px;
}
.url-icon {
  top: 601px;
  left: 1038px;
  width: 122px;
  height: 110.81px;
}
.desktop-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1133px;
  overflow-y: auto;
  text-align: left;
  font-size: 22.45px;
  color: var(--color-black);
  font-family: var(--font-oxygen);
}
