@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.frame-child {
  position: relative;
  background-color: var(--color-yellowgreen-300);
  width: 52.34px;
  height: 2.75px;
}
.frame {
  position: absolute;
  top: 170.81px;
  left: 0;
  width: 1183.24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.welcome-to-texpress {
  position: relative;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 867.58px;
  height: 73.01px;
  flex-shrink: 0;
}
.frame1 {
  position: absolute;
  top: 315.44px;
  left: 0;
  width: 990.17px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 61.12px;
  color: #373737;
  font-family: var(--font-roboto);
}
.overview-of-texpress {
  margin-block-start: 0;
  margin-block-end: 5.53px;
}
.achieved-40-compression {
  margin: 0;
}
.overview-of-texpress-container {
  position: relative;
  letter-spacing: 0.09em;
  line-height: 55.29px;
  font-weight: 300;
  display: inline-block;
  width: 1356.81px;
  opacity: 0.7;
}
.frame2 {
  position: absolute;
  top: 435.28px;
  left: 0;
  width: 1435.32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  font-size: 27.55px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.compress-txt-file {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 51.94px;
}
.frame3 {
  position: absolute;
  top: 1228.82px;
  left: 0;
  width: 1685px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 38.85px;
}
.our-txt-compressor {
  margin-block-start: 0;
  margin-block-end: 3.03px;
}
.our-txt-compressor-container {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 30.26px;
}
.frame4,
.frame6 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame4 {
  position: absolute;
  top: 1294.21px;
  left: 0;
  width: 1893px;
  align-items: flex-end;
  justify-content: center;
  font-size: 22.63px;
}
.frame6 {
  margin: 0;
  border-radius: 20.71px;
  background-color: var(--color-powderblue-100);
  width: 231.65px;
  height: 62.11px;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  padding: 4.697021484375px 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
.frame-icon,
.frame5 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.frame5 {
  top: 1102px;
  width: 1100.65px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0.000030517578125px;
  box-sizing: border-box;
  font-size: 16.82px;
}
.frame-icon {
  top: 1617px;
  width: 958.54px;
  height: 73.93px;
}
.compress-multi-format-files {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 29.81px;
}
.frame7,
.frame8 {
  overflow: hidden;
  display: flex;
}
.frame8 {
  width: 1098.83px;
  height: 34.63px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 362px;
}
.frame7 {
  position: absolute;
  top: 1728.99px;
  left: 0;
  width: 1227.16px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
}
.compress-your-multi-format {
  margin-block-start: 0;
  margin-block-end: 0.93px;
}
.compress-your-multi-format-container,
.save-your-compressed-container {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 29.81px;
  opacity: 0.7;
}
.save-your-compressed-container {
  display: inline-block;
  width: 618.26px;
  height: 61.09px;
  flex-shrink: 0;
}
.frame10 {
  width: 1391.09px;
  height: 61.09px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 163px;
}
.frame-icon1,
.frame9 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.frame9 {
  top: 1768.79px;
  width: 1519.42px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-3xl-3);
}
.frame-icon1 {
  top: 1902.99px;
  width: 958.54px;
  height: 64.7px;
}
.frame11,
.frame12 {
  overflow: hidden;
  display: flex;
}
.frame12 {
  width: 1312.75px;
  height: 34.63px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 467px;
}
.frame11 {
  position: absolute;
  top: 1992.77px;
  left: 0;
  width: 1440.16px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
}
.ability-to-compress {
  margin-block-start: 0;
  margin-block-end: 2.98px;
}
.lightning-fast-compress-container {
  position: relative;
  font-size: var(--font-size-3xl-3);
  letter-spacing: 0.05em;
  line-height: 29.81px;
  opacity: 0.7;
}
.frame13,
.frame14 {
  overflow: hidden;
  display: flex;
}
.frame14 {
  width: 1352.83px;
  height: 67.63px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.627685546875px 0 0;
  box-sizing: border-box;
  gap: 150px;
}
.frame13 {
  position: absolute;
  top: 2037.2px;
  left: 0;
  width: 1481.16px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  font-size: 23.05px;
}
.frame-item {
  position: absolute;
  top: 0;
  left: calc(50% - 831.5px);
  border-radius: var(--br-341xl);
  width: 287px;
  height: 87px;
}
.how-to,
.how-to-compress {
  position: absolute;
  font-weight: 300;
}
.how-to {
  top: 29px;
  left: calc(50% - 734.5px);
  color: var(--color-dimgray);
}
.how-to-compress {
  top: 183px;
  left: calc(50% - 813.5px);
  font-size: 52.8px;
}
.upload-text-files {
  margin-bottom: 0;
}
.upload-text-files-to-compress {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.blank-line {
  margin-block-start: 0;
  margin-block-end: 0.74px;
}
.upload-text-files-container {
  position: absolute;
  top: 302px;
  left: calc(50% - 881.5px);
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
}
.unsplash-0xmiyqmk8g-icon {
  position: absolute;
  top: 87px;
  left: calc(50% + 254.5px);
  width: 627px;
  height: 391px;
  object-fit: cover;
}
.unsplash-0xmiyqmk8g-icon:hover {
  animation: 2s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.language {
  position: absolute;
  top: 289.79px;
  left: calc(50% + 23.57px);
  width: 24px;
  height: 24px;
}
.frame16 {
  position: relative;
  width: 1763px;
  height: 478px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame15 {
  position: absolute;
  top: 2380px;
  left: 0;
  width: 1842px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-oxanium);
}
.frame-inner {
  position: absolute;
  top: 54px;
  left: 821px;
  border-radius: var(--br-341xl);
  background-color: var(--color-powderblue-100);
  width: 287px;
  height: 87px;
}
.faqs {
  position: absolute;
  top: 83px;
  left: 935px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  font-family: var(--font-oxanium);
  color: var(--color-dimgray);
}
.just-use-our {
  position: absolute;
  top: calc(50% - 284.27px);
  left: calc(50% - 872px);
  font-size: 29.02px;
  font-weight: 500;
}
.how-to-compress1 {
  margin: 0;
  position: absolute;
  top: calc(50% - 393.5px);
  left: calc(50% - 510px);
  font-size: var(--font-size-29xl);
  font-weight: 400;
  font-family: inherit;
}
.text {
  position: absolute;
  top: 86px;
  left: 1060px;
  font-size: var(--font-size-13xl);
  font-weight: 300;
  font-family: var(--font-oxanium);
  display: inline-block;
  width: 5px;
  height: 8px;
}
.component-2-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c9e6e6;
  display: none;
}
.vector-icon {
  position: absolute;
  height: 48.33%;
  width: 6%;
  top: 20%;
  right: -3.5%;
  bottom: 31.67%;
  left: 97.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
  opacity: 0.7;
}
.which-formats-does {
  position: absolute;
  top: 28.33%;
  left: 3.67%;
  font-weight: 300;
  display: none;
}
.component-2 {
  position: absolute;
  top: 414px;
  left: 1145px;
  width: 600px;
  height: 60px;
  font-family: var(--font-oxanium);
}
.frame19 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.we-support-a {
  align-self: stretch;
  position: relative;
  font-weight: 300;
}
.frame-parent,
.frame20 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame20 {
  align-self: stretch;
  background-color: var(--color-white);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-lg);
}
.frame-parent {
  position: absolute;
  height: 9.71%;
  width: 30.24%;
  top: 37.37%;
  right: 59.27%;
  bottom: 52.92%;
  left: 10.48%;
  background: linear-gradient(#c9e6e6, #c9e6e6), #fff;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0.178375244140625px;
  box-sizing: border-box;
  gap: var(--gap-2xs);
}
.how-can-i {
  align-self: stretch;
  position: relative;
}
.frame22 {
  align-self: stretch;
  background-color: var(--color-white);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
}
.frame-group,
.frame22,
.frame24 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame-group {
  position: absolute;
  height: 7.88%;
  width: 30.24%;
  top: 58.03%;
  right: 59.27%;
  bottom: 34.09%;
  left: 10.48%;
  background: linear-gradient(#c9e6e6, #c9e6e6), #fff;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0.178375244140625px;
  box-sizing: border-box;
  gap: var(--gap-2xs);
}
.frame24 {
  align-self: stretch;
  background-color: var(--color-white);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-oxanium);
}
.frame-container,
.frame-div,
.frame-parent1 {
  position: absolute;
  height: 6.22%;
  width: 30.24%;
  top: 58.91%;
  right: 13.31%;
  bottom: 34.88%;
  left: 56.45%;
  background: linear-gradient(#c9e6e6, #c9e6e6), #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0.178375244140625px;
  box-sizing: border-box;
  gap: var(--gap-2xs);
}
.frame-div,
.frame-parent1 {
  height: 6.04%;
  top: 79%;
  bottom: 14.96%;
}
.frame-parent1 {
  height: 7.88%;
  top: 76.86%;
  right: 59.27%;
  bottom: 15.27%;
  left: 10.48%;
}
.all-user-files {
  margin-block-start: 0;
  margin-block-end: 0.82px;
}
.all-user-files-container {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  white-space: pre-wrap;
}
.frame-parent2 {
  position: absolute;
  height: 9.8%;
  width: 30.24%;
  top: 37.34%;
  right: 13.31%;
  bottom: 52.87%;
  left: 56.45%;
  background: linear-gradient(#c9e6e6, #c9e6e6), #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0.178375244140625px;
  box-sizing: border-box;
  gap: var(--gap-2xs);
}
.frame17,
.frame18 {
  width: 1984px;
  overflow: hidden;
}
.frame18 {
  position: relative;
  height: 1145px;
  flex-shrink: 0;
  background-image: url(./public/frame2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame17 {
  position: absolute;
  top: 3063px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.end-line-icon {
  position: absolute;
  top: 47.5px;
  left: calc(50% - 913.41px);
  width: 1827.02px;
  height: 21px;
  mix-blend-mode: darken;
}
.vector-icon1 {
  position: absolute;
  height: 93.75%;
  width: 93.75%;
  top: 3.13%;
  right: 3.13%;
  bottom: 3.13%;
  left: 3.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.go-up,
.vector-icon2 {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon2 {
  height: 53.13%;
  width: 50%;
  top: 23.44%;
  right: 25%;
  bottom: 23.44%;
  left: 25%;
  max-width: 100%;
  max-height: 100%;
}
.go-up {
  top: 0;
  left: calc(50% - 33.4px);
  width: 67px;
  height: 67px;
}
.apple-play-icon,
.googe-play {
  position: absolute;
  width: 272.73px;
  cursor: pointer;
}
.googe-play {
  text-decoration: none;
  top: 62.91px;
  left: 1322px;
  height: 93.51px;
  background-image: url(./public/googeplay@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.apple-play-icon {
  top: 52px;
  left: 1574.47px;
  height: 120px;
  object-fit: cover;
}
.english {
  margin: 0;
  position: absolute;
  top: 77px;
  left: 81px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.arrow-icon,
.language-icon {
  position: absolute;
  top: 99.95px;
  left: 249.95px;
  width: 22.09px;
  height: 12.55px;
}
.language-icon {
  top: 79.46px;
  left: 0;
  width: 59px;
  height: 52.98px;
}
.frame32 {
  position: relative;
  width: 1847.2px;
  height: 172px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-overlock-sc);
}
.frame31 {
  margin: 0;
  position: absolute;
  top: 4236px;
  left: calc(50% - 928px);
  width: 1856px;
  height: 205px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.rectangle-div {
  position: relative;
  background-color: var(--color-snow);
  width: 1984px;
  height: 134.63px;
}
.anchor-frame,
.frame34 {
  position: absolute;
  left: 0;
  top: -100px;
}
.frame34 {
  top: 0;
  width: 1984px;
  height: 168.22px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-icon2,
.frame-icon3,
.vector-icon3 {
  position: absolute;
  top: 3.22px;
  left: 523px;
  width: 1426.17px;
  height: 163px;
  overflow: hidden;
}
.frame-icon3,
.vector-icon3 {
  top: 7.22px;
  left: 1354px;
  width: 40px;
  height: 42.86px;
}
.vector-icon3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.vector {
  text-decoration: none;
  position: relative;
  width: 35px;
  height: 37.89px;
  cursor: pointer;
}
.frame35 {
  position: absolute;
  top: 6.22px;
  left: 1759px;
  width: 35px;
  height: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame36,
.frame37,
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 37.89px;
}
.frame36,
.frame37 {
  text-decoration: none;
  top: 6.22px;
  left: 1656px;
  height: 41px;
  overflow: hidden;
  cursor: pointer;
}
.frame37 {
  left: 1863px;
}
.dbit-logo-1 {
  position: relative;
  width: 121.17px;
  height: 125.24px;
  object-fit: cover;
}
.frame38 {
  position: absolute;
  top: 4.22px;
  left: 58px;
  width: 121.17px;
  height: 164px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.texpress {
  position: relative;
  background: linear-gradient(90deg, #76ba1b 38.24%, #00a3c7 62.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame39 {
  position: absolute;
  top: 51.22px;
  left: 179px;
  width: 217px;
  height: 51px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 40.73px;
}
.div {
  position: relative;
}
.frame40 {
  position: absolute;
  top: 12.22px;
  left: 1409px;
  width: 144px;
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 25.32px;
  color: var(--color-white);
}
.texpressgmailcom {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.frame41 {
  position: absolute;
  top: 10.22px;
  left: 1056px;
  width: 244px;
  height: 34px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.loginsignup,
.more-tools,
.pricing {
  position: absolute;
  top: 140.22px;
  cursor: pointer;
}
.pricing {
  left: 1880.24px;
}
.loginsignup,
.more-tools {
  display: flex;
  align-items: flex-end;
}
.loginsignup {
  left: 1709.44px;
  width: 129px;
  height: 28px;
}
.more-tools {
  left: 1553px;
  width: 114.33px;
}
.de-compress {
  left: 1374px;
  cursor: pointer;
}
.compress,
.de-compress,
.home1 {
  position: absolute;
  top: 140.22px;
}
.compress {
  left: 1231px;
  cursor: pointer;
}
.home1 {
  left: 1126.77px;
  color: var(--color-yellowgreen-300);
}
.frame33,
.home {
  color: var(--color-black);
}
.frame33 {
  position: absolute;
  top: -6.22px;
  left: 0;
  width: 1984px;
  height: 168.22px;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: 22.45px;
  font-family: var(--font-oxygen);
}
.frame33.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4499px;
  overflow-y: auto;
  text-align: center;
  font-size: 29.62px;
  font-family: var(--font-patua-one);
}
