@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.sign-in-to {
  position: absolute;
  top: 298px;
  left: 321px;
  font-size: 40.73px;
  background: linear-gradient(90deg, #76ba1b 38.24%, #00a3c7 62.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signup-child,
.signup-inner,
.signup-item {
  border: 2px solid var(--color-dimgray);
  background-color: var(--color-white);
  position: absolute;
  top: 643px;
  left: 243px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 554px;
  height: 75px;
}
.signup-inner,
.signup-item {
  top: 533px;
}
.signup-inner {
  top: 425px;
}
.enter-your-email2,
.name,
.password1 {
  position: absolute;
  top: 556px;
  left: 324px;
  color: var(--color-gainsboro);
}
.name,
.password1 {
  top: 448px;
}
.password1 {
  top: 664px;
}
.frame-icon13,
.frame-icon14 {
  position: absolute;
  top: 551px;
  left: 261px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.frame-icon14 {
  top: 664px;
  width: 35px;
  height: 35px;
}
.already-member-log-container {
  position: absolute;
  top: 734px;
  left: 422px;
  cursor: pointer;
}
.signup-child1 {
  position: absolute;
  top: 806px;
  left: 442px;
  border-radius: var(--br-xs);
  background-color: var(--color-yellowgreen-200);
  width: 151px;
  height: 59px;
}
.sign-up {
  position: absolute;
  top: 821px;
  left: 467px;
  font-size: 30.05px;
  color: var(--color-white);
  display: flex;
  align-items: flex-end;
  width: 102px;
  height: 32px;
}
.terms-of-service {
  color: var(--color-tomato);
}
.by-creating-an-container1 {
  line-break: anywhere;
  width: 100%;
}
.by-creating-an-container {
  position: absolute;
  top: 916px;
  left: 179px;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: flex-end;
  width: 753px;
}
.signup-child2 {
  position: absolute;
  top: 189px;
  left: 914px;
  background: linear-gradient(
    270deg,
    #c9e56c 53.86%,
    rgba(168, 220, 68, 0.57) 67.68%,
    rgba(255, 255, 255, 0.57) 87.89%
  );
  width: 1070px;
  height: 944px;
}
.screenshot-133-11 {
  position: absolute;
  top: 273px;
  left: 1296px;
  width: 498px;
  height: 395px;
  object-fit: cover;
}
.enter-your-email3 {
  margin: 0;
}
.enter-your-email-container1 {
  position: absolute;
  top: 798px;
  left: 1195px;
  font-size: 30.05px;
}
.sign-in-to1 {
  margin: 0;
  position: absolute;
  top: 716px;
  left: 1195px;
  font-size: var(--font-size-29xl);
  font-weight: 400;
  font-family: inherit;
}
.frame-icon15 {
  position: absolute;
  top: 445px;
  left: 263px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.vector-icon29 {
  position: absolute;
  top: 4.99px;
  left: 1759px;
  width: 35px;
  height: 37.89px;
  cursor: pointer;
}
.frame-child30 {
  position: absolute;
  top: 0;
  left: 565.96px;
  border-radius: var(--br-12xl-5);
  width: 1426.17px;
  height: 45.82px;
}
.dbit-logo-16 {
  position: absolute;
  top: 0;
  left: 58px;
  width: 121.17px;
  height: 125.24px;
  object-fit: cover;
}
.vector-icon30 {
  top: 4.99px;
  left: 1658px;
  width: 34px;
  height: 37.89px;
}
.texpress11,
.vector-icon30,
.vector-icon31 {
  position: absolute;
  cursor: pointer;
}
.vector-icon31 {
  top: 4.99px;
  left: 1863px;
  width: 34px;
  height: 37.89px;
}
.texpress11 {
  top: 46px;
  left: 179px;
  font-size: 40.73px;
  background: linear-gradient(90deg, #76ba1b 38.24%, #00a3c7 62.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: flex-end;
  width: 216.88px;
}
.div7,
.vazsalvi1gmailcom5 {
  position: absolute;
  color: var(--color-white);
}
.div7 {
  top: 7px;
  left: 1430px;
  font-size: 25.32px;
}
.vazsalvi1gmailcom5 {
  top: 4px;
  left: 1067px;
  font-size: var(--font-size-7xl);
  cursor: pointer;
}
.loginsignup7,
.pricing7 {
  position: absolute;
  top: 135px;
}
.pricing7 {
  left: 1879px;
  cursor: pointer;
}
.loginsignup7 {
  left: 1709px;
  color: var(--color-yellowgreen-300);
}
.more-tools7 {
  left: 1553.78px;
  display: flex;
  align-items: flex-end;
  width: 114.33px;
}
.compress8,
.de-compress7,
.home8,
.more-tools7 {
  position: absolute;
  top: 135px;
  cursor: pointer;
}
.de-compress7 {
  left: 1373.33px;
  display: flex;
  align-items: flex-end;
  width: 139.12px;
  height: 28px;
}
.compress8,
.home8 {
  left: 1230.08px;
}
.home8 {
  left: 1126.77px;
}
.frame-child31 {
  position: absolute;
  top: 171px;
  left: 1715px;
  background-color: var(--color-yellowgreen-300);
  width: 117px;
  height: 2px;
}
.frame-icon16 {
  position: absolute;
  top: 2px;
  left: 1353px;
  width: 40px;
  height: 42.86px;
  overflow: hidden;
}
.vector-icon32 {
  position: absolute;
  top: 4px;
  left: 1760px;
  width: 35px;
  height: 37.89px;
  cursor: pointer;
}
.vector-parent7 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1983px;
  height: 189px;
  overflow: hidden;
  opacity: 0;
}
.vector-parent7.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.signup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1133px;
  overflow-y: auto;
  text-align: left;
  font-size: 22.45px;
  color: var(--color-black);
  font-family: var(--font-oxygen);
}
